@import url('https://fonts.googleapis.com/css?family=Nunito'); 

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  font-family: 'Nunito', sans-serif;
  margin: 0;
  color: var(--color-white);
}

:root {
    --font-family: "Nunito";
    --color-white: #FFFFFE;
    --color-black: #16161A;
    --color-primary: #7F5AF0;
    --color-secundary: #A786DF;
    --color-tertiary: #72757E;
    --color-green: #2CB67D;
    --color-gray: #94A1B2;
    --color-purple: #6B47DC;
    --color-neutral: #232E35;
    --color-red: #EF4565;
}

/*
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
} 
.checkmark {
  position: absolute;
  right: 8px;
  height: 25px;
  width: 25px;
  background-image:url("https://gejocad.github.io/DailyBits/img/radio-button.png");
  border-radius: 50%;
}


/* Modificador para dar la imagen de radio */
/*.custom-radio-checkbox__show--radio {
  background-image: url("https://gejocad.github.io/DailyBits/img/radio-button.png");    
}

/* Oculta input original */
/*.custom-radio-checkbox > .custom-radio-checkbox__input {
  display: none;
}

/* Radio personalizado usando <span> */
/*.custom-radio-checkbox > .custom-radio-checkbox__show {
  display: inline-block;
  margin-left: auto;
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  background-size: cover;
}

/* Cambia el radio personalizado cuando es pulsado */
/*.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--radio {
  background-image: url("https://gejocad.github.io/DailyBits/img/radio-button-active.png");
}*/

